.auth-inner {
    /*    display: flex;
        justify-content: center;*/
    width: 87%;
    height: 90%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
    transition: all .3s;
    overflow: auto;
    max-height: 100vh;
}

.auth-wrapper .form-control:focus{
    border-color: #167bff;
    box-shadow: none;
}

.title{
    align-content: center;
    align-items: center;
    text-align: center;
}

/*pot avea css special pentru button{}*/

.component{
    display: flex;
    width: 100%;
    height: 100%;
}

.componentMenu{
    width: 30%;
    height: 90%;
    left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.buttonLevelGame{
    display: flex;
    border-radius: 50%;
    margin-top: 5%;
    

}

.firstDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.divForFirstDiv{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
}

#pForFirstDiv{
    font-size: xx-large;
    font-style: italic;
}

#pForMessages{
    font-size: large;
    font-weight: bold;
}

.componentGame{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.paragraphGame{
    display: flex;
    text-align: center;
    
}


.componentGameQuestion{
    font-size: xx-large;
    text-align: center;
}


.ConfirmOrderDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    
}
.buttonsForConfirmOrder{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.buttonCheck{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.classForTextArea{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}

.classForPaper{
    
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#forMargin{
    margin-top: 20px;
}

#textForQuestion{
    text-align: center;
    font-size: 35px;
}


.specialDiv{
    
}

.paper{
    width: 100%;
}

#divForMobileImage{
    display: none;
}

.responseVariant{
    text-align: justify !important;
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace !important;
}

@media all and (max-width: 425px) {

    .componentGameQuestion{
        font-size: large;
        text-align: center;
    }
    
    .principal{
        width: 100%;
    }
    
    .component{
        flex-direction: column;
    }
    
    .componentMenu{
        width: 100%;
        
        flex-direction: row;
        justify-content: space-around;
    }
    
    .buttonLevelGame{
        margin-right: 10px;
    }
    
    .paragraphGame{
        width: 100%;
    }
    
    .classForPaper{
        width: 100%;
    }

    #divForImage{
        display: none;
    }

    #divForMobileImage{
        display: flex;
    }

    #textForQuestion{
        font-size: large;
    }
    
}

