.cont{
    margin-left: 100px;
    margin-right: 100px;
}

.navigation {
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin-left: auto;
    margin-block-end: 0;
    background-color: deepskyblue;
}

.normalNavigation{
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin-left: auto;
    margin-block-end: 0;
    background-color: deepskyblue;
}

.mobileNavigation{
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin-left: auto;
    margin-block-end: 0;
    background-color: deepskyblue;
}

.firstThreeElem{
    display: flex;
}

#element{
    display: flex;
    justify-content: inherit;
    text-decoration: none;
/*    display: block;*/
    padding: 1em;
    color: white;
}

#mobileElement{
    display: flex;
    justify-content: inherit;
    text-decoration: none;
    /*    display: block;*/
    color: white;
}

.push {
    margin-left: auto;
}

#element:hover {
    background: #1565C0;
}

/*@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}*/

.mobileMenu{
    display: none;
}


.navigationMobileMenu{
    display: none;
}

@media all and (max-width: 1024px) {
    
    .navigation{
        justify-content: flex-start;
    }
    .normalNavigation{
        display: none;
    }
    .mobileMenu{
        display: flex;
        width: 30%;
        flex-direction: row-reverse;
        margin-right: 0;
        overflow: auto;
    }
    .firstThreeElem{
        width: 70%;
    }
    .mobileNavigation{
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        padding-left: 0;
    }
    
    .dontShowOnMobile{
        display: none !important;
    }
    
    .navigationMobileMenu{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
    }
    
    #element{
        width: 100%;
        border-top: 1px solid #0dcaf0;
    }
    
    
    
}

@media all and (max-width: 425px) {
    .cont{
        margin-left: 0;
        margin-right: 0;
    }
    .navigation {
        
        justify-content: center;
        padding: 0;
        margin: unset;
    }
    #element{
        display: flex;
        justify-content: center;
    }
    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255,0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type link {
        border-bottom: none;
    }
}

