.headContent{
    width: 100%;
}
.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}
.itemCenterContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttonSubmit{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.errorSubmit{
    background: #1C8EF9 !important;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.topContent{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

h2{
    text-align: center;
    font-size: 30px;
}

#message h3{
    font-size: 17px;
    text-align: center;
    padding: 20px 0;
    color: red;
}

.buttonPlay{
    display: flex;
    justify-content: center;
}

.justified{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.justifiedFeedback{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    width: 100%;
    height: 400px;
}

.elemJustifiedFeedback{
    width: 50%;
    height: 400px;
}

p{
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
}

.button{
    margin-bottom: 10px;
}

.elements{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 10px 30px;    
}

.elementInElements{
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.elementForChallenge{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itemForElementForChallenge{
    margin-top: 10px;
}

#divForMobileImage{
    display: none;
}


@media all and (max-width: 425px) {

    .elemInTopContent{
        width: 100%;
    }
    
    .elementInElements{
        width: 100%;
    }
    
    .elements{
        width: 100%;
        flex-direction: column;
    }
    
    .elemJustifiedFeedback{
        width: 100%;
    }
    
    #divForImage{
        display: none;
    }
    
    #divForMobileImage{
        display: flex;
    }
}


